@font-face{
    font-family: 'Anton';
    src: url('./public/fonts/Anton/Anton-Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'Manrope';
    src: url('./public/fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
	margin: 0;
    font-family: 'Manrope';
}
.header{
    position: relative;
    background-image: url("./public/images/Recette16.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.header::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(23deg,rgba(8,8,8,.8901960784313725) 27%,transparent);
}
.logo{
    display: flex;
    align-items: center;
    padding: 69px;
    color: #fff;
    position: relative;
    font-family: 'Anton';
    letter-spacing: 1px;
}
.logo img{
    width: 22px;
    margin-left: 4.6px;
}
.content-header{
    text-align: center;
    position: relative;
}
.title{
    font-size: 44px;
    color: #FFD15B;
    font-weight: 400;
    line-height: 66.24px;
    width: 65%;
    margin: auto;
    font-family: 'Anton';
}
.search_container{
    position: relative;
    width: 70%;
    margin: 30px auto;
}
.search_input{
    width: 100%;
    padding: 24px 30px;
    border: none;
    border-radius: 11px;
    font-size: 16px;
    outline: none;
}
.iconSearch_div{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 16px 18px 16px 18px;
    background-color: #1B1B1B;
    color: #fff;
    border-radius: 10px;
}
/**** main ***/
.main_container{
    margin: 0 102px;
}
/********************* cardsRecette *******************/
.allCardsRecette{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px;
}
.cardRecette{
    position: relative;
    width: 380px;
    height: 731px;
    overflow-y: scroll;
    box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
    border-radius: 21px;
}
.image_recette{
    width: 100%;
    height: 253px;
    object-fit: cover;
}
.time{
    position: absolute;
    margin-top: 20px;
    right: 7px;
    padding: 5px 15px;
    background-color: #FFD15B;
    border-radius: 14px;
    font-size: 14px;
}
.content_recette{
    padding: 32px 25px 29px 25px;
}
.name_recette{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Anton';
}
.recette_description_div{
    padding: 29px 0;
}
.subtitle{
    color: #7A7A7A;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
}
.description_recette{
    font-size: 14px;
    padding-top: 15px;
}
.ingredients_details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 15px;
    font-size: 14px;
}
.ingredient-measurement{
    color: #7A7A7A;
    font-size: 14px;
}
/****************************/

/* Dropdown menu css */
.all-dropdowns{
    display: flex;
    justify-content: flex-start;
}
.dropdown-container {
    position: relative;
    margin: 25px 66px 55px 0;
}
.dropdown-container .dropdown-toggle {
    width: 195px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    background-color: #fff;
    font-size: 17px;
    padding: 17px 16px;
    box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
    border-radius: 11px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    transition: all ease-in-out 0.3s;
}
.dropdown-container .dropdown-toggle label {
    cursor: pointer;
    width: 100%;
}
.dropdown-container .dropdown-menu {
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    background-color: #fff;
    z-index: 10;
}
.dropdown-container .dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    z-index: 10;
    height: 215px;
    overflow-y: scroll;
}
.dropdown-container .dropdown-menu ul li {
    text-decoration: none;
    display: block;
    color: #000;
    font-size: 15px;
    padding: 17px 16px;
    font-weight: 600;
    box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 0.3s;
}
.dropdown-container .dropdown-menu ul li:hover, 
.dropdown-container .dropdown-menu ul li:active, 
.dropdown-container .dropdown-menu ul li:focus {
    background-color: #FFD15B;
    cursor: pointer;
}
.dropdown-menu, .dropdown-toggle {
    position: relative;
}
.dropdown-toggle::after {
    content: "\f078";
    font-family: Font Awesome\ 5 Free;
    font-size: 1.1875rem;
    font-weight: 700; 
    transform: rotate(0);
    transition: 200ms;
    z-index: 5;
    transform: rotate(0deg);
}
.dropdown-menu {
    z-index: 10;
    position: relative;
}
.dropdown-menu::before {
    z-index: -1;
    transform: rotate(-135deg);
    top: -4px;
    border-color: #fff;
    box-shadow: 1px 1px 4px -2px rgba(0, 0, 0, 0.4);
}
.dropdown-open .dropdown-menu.dropdown-active {
    display: block;
}
.dropdown-open .dropdown-toggle::after {
    transform: rotate(180deg);
}
